.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
.popup {
    width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:-webkit-linear-gradient(orange, white, yellow );
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    border-radius: 1rem;
}


.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    margin: .625rem;
}


.homeImage {
    width: 150px;
    height: 200px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.closeButton {
    cursor: pointer;
    background: #000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.closeButton:hover {
    background: #cc0000;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    padding:.3rem 0;
    margin: 0;
    list-style: none;
}

.abilities{
    display: flow-root;
    border-bottom-style: groove;
}

.moves{
    display: flow-root;
    border-bottom-style: groove;
}

.height {
    display: flex;
    justify-content: space-between;
    border-bottom-style: groove;
}

.ul-lista{
    margin: .335rem;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .popup{
        width: 250px;
    }
    .homeImage {
        width: 200px;
        height: 250px;
    }

    .abilities{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .moves{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .popup{
        width: 300px;
    }

    .homeImage{
        width: 250px;
        height: 300px;
    }

    .abilities{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }
    
    .moves{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }

}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .popup{
        width: 300px;
    }

    .homeImage {
        width: 250px;
        height: 300px;
    }

    .abilities{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }
    
    .moves{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }
  
}